
<div class="d-flex align-center justify-space-between">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" @onclick="NewStudentCenterBase">Novo</MudButton>
</div>

@code {

    private void NewStudentCenterBase()
    {
       
    }

}
