 @inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="false"/>
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout>   

    <MudAppBar Color="Color.Primary" Fixed="false">
        <MudText Typo="Typo.h6">CA - Acadêmico</MudText>        

        <MudSpacer />

        <AuthorizeView>
            <Authorized>
                <p class="my-3 me-3">Hello, @context.User.Identity?.Name!</p>               
                <MudButton Color="Color.Inherit" OnClick="Logout" Variant="Variant.Text">
                    Logout
                </MudButton>
            </Authorized>
            <NotAuthorized>
                <MudButton Color="Color.Inherit" Variant="Variant.Text">
                    <MudIconButton Icon="@Icons.Material.Filled.Login" Color="Color.Inherit" Href="Login" /> Login
                </MudButton>
            </NotAuthorized>
        </AuthorizeView>
        
    </MudAppBar>    

    <MudDrawer Open="true" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu>

        </NavMenu>
    </MudDrawer>

    <MudMainContent Class="main-content pa-2">
        @Body
    </MudMainContent>
</MudLayout>

@inject AuthenticationStateProvider provider
@inject NavigationManager navigationManager

@code {

    private void Logout()
    {
        var authStateProvider = (CustomAuthStateProvider)provider;

        authStateProvider.Logout();

        navigationManager.NavigateTo("/login");
    }
   
}