<div class="d-flex align-center justify-space-between">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" @onclick="NewRequestType">Novo</MudButton>
</div>

@code {

    private void NewRequestType()
    {

    }

}
